<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Todo | Built with Vue</title>
</head>
<body>

  <div id="app">
    <h1>Todo List</h1>

    <add-task-form v-on:add-todo="addNewTodo"></add-task-form>

    <br><br>

    <table>
      <tbody>
        <tr v-for="todo in todos">
          <td><input type="checkbox" v-model=todo.complete></td>
          <td><input v-bind:disabled="todo.complete" v-on:keyup="(updateTodo(todo))" type="text" v-model="todo.name"></td>
          <td><button v-on:click="removeTodo(todo)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="vue.js"></script>
  <script src="app.js"></script>
</body>
</html>